    <!-- Footer -->
    <footer>
        <div class="line">
            <span class="line"></span>
        </div>
        
        <div class="footer">
            <div class="social-icon">
                <a href="#">
                    <i class="fa-brands fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-youtube"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fa-brands fa-twitter"></i>
                </a>
            </div>

            <div class="copyright">
                <p>Copyright <span><i class="fa-regular fa-copyright"></i></span> 2023 UWC 2.0</p>
            </div>

            <div class="contact">
                <p><span><i class="fa-solid fa-phone"></i></span> 0123456789</p>
                <p><span><i class="fa-solid fa-envelope"></i></span>    uwc2_0@gmail.com</p>
            </div>
        </div>
    </footer>
    <script src="utils/createTask.js"></script>
    
    <script src="utils/editDeleteTask.js"></script>
    <script src="utils/changeTable.js"></script>
    <script src="utils/filterTask.js"></script>
    <script src="https://kit.fontawesome.com/6cade567e0.js" crossorigin="anonymous"></script>
</body>
</html>