<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/detail_task.css">
    <link rel="stylesheet" href="/public/staff.css">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/newTask.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Allura&family=B612:wght@400;700&family=Kaushan+Script&family=Lato:wght@400;900&family=Open+Sans:wght@500;700&family=Poppins:wght@100;300;400;500;700&family=Roboto:wght@100;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/public/img/avatar.png" type="image/png">
    <title><%= text %></title>
</head>
<body>
    <!-- Header -->
    <header>
        <div class="header">
            <div class="logo">
                <img src="/public/img/logo.png" alt="logo UWC">
            </div>

            <ul>
                <li><a href="/task">Nhiệm vụ</a></li>
                <li><a href="/staff">Nhân viên</a></li>
            </ul>

            <div class="personal-info">
                <i class="fa-regular fa-bell"></i>
                <i class="fa-regular fa-comment"></i>
                <img src="/public/img/avatar.png" alt="avatar">
            </div>

        </div>
    </header>
    <!-- End Header -->
