*{
    /* font-family: 'Allura', cursive; */
    font-family: 'B612', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
    /* font-family: 'Lato', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    margin: 0;
    padding: 0;
}

i, button:hover {
    cursor: pointer;
}

/* Header */
.header {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
    /* z-index: 1; */
}

.header .logo {
    width: 200px;
    margin: 20px;
}

.header .logo img{
    width: 150px;
    margin: auto;
    /* text-align: center; */
}

.header ul{
    list-style: none;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.header ul li{
    width: 150px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.header ul li a {
    text-decoration: none;
    color: #000000;
}
.active{
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #b4b5b6;
}

.header .personal-info {
    display: flex;
    align-items: center;
}

.header .personal-info i {
    font-size: 30px;
    margin: 20px;
}

.header .personal-info img {
    width: 75px;
    margin-left: 30px;
    border-radius: 50%;
}



/* Main ----------------------------------*/
main {
    width: 100%;
    height: 600px;
}
main .home-page{
    margin-bottom: -6px;
}
main .home-page{
    position: relative;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

main .home-page table{
    position: absolute;
    /* height: 550px; */
    top: 0;
    right: 0;
    width: 75%;
    border-collapse: collapse;  /* delete border */
}
main .home-page table tbody {
    background-color: #C4FBDA;
    border: 0.3px solid #C4FBDA;
}
main .home-page table tr{
    cursor: pointer;
    height: 50px;
}
main .home-page table thead{
    background-color: rgb(202, 201, 201);
    border: 0.3px solid rgb(202, 201, 201);
}
main .home-page table thead th {
    position: relative;
}
main .home-page table thead th span{
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #000000;
    width: 0.5px;
    height: 20px;
    border: 1px solid black ;
}  
main .home-page table tr th:nth-child(6) i{
    margin: 10px;
}
main .home-page table tr th:nth-child(6) i:last-child{
    color: red;
}
main .home-page h1{
    margin-left: 20px;
    margin-bottom: 30px;
}
main .home-page .filter-part {
    width: 25%;
    display: flex;
    flex-direction: column;
}
main .home-page .filter-part input{
    margin: 10px;
    margin-left: 40px;
    font-size: 17px;
    padding-left: 15px;
}
main .home-page .filter-part .search-input i{
    font-size: 18px;
}
main .home-page .filter-part input:nth-child(1){
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid rgb(152, 152, 152);
}

main .home-page .filter-part input:nth-child(2){
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
}
main .home-page .filter-part input:nth-child(3){
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
}
main .home-page .filter-part input:nth-child(4){
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid rgb(0, 0, 0);
    margin-bottom: 20px;
}
main .home-page .filter-part button{
    margin: 10px;
    margin-left: 40px;
    width: 100px;   
    height: 50px;
    border-radius: 10px;
    background-color: rgb(13, 211, 13);
    border: none;
    font-size: 19px;
    font-weight: bold;
}

main .home-page #creat-task{
    position: absolute;
    bottom: 2px;
    left : 62%;
    width: 100px;   
    height: 40px;
    border-radius: 10px;
    background-color: rgb(13, 211, 13);
    border: none;
    font-size: 17px;
    font-weight: bold;
}
main .home-page .flip-flop-part{
    position: absolute;
    bottom: 15px;
    right: 0;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
main .home-page .flip-flop-part button {
    border: none;
    cursor: pointer;
}


main .home-page .flip-flop-filtering{
    display: none;
    position: absolute; 
    bottom: 15px;
    left: 60%;
    width: 150px;
    align-items: center;
    justify-content: space-evenly;
}
main .home-page .flip-flop-filtering button {
    border: none;
}
/* Save task successfully */

main .successful-save {
    display: none;
    width: 250px;
    height: 40px;
    position: absolute;
    top:79%;
    left: 5%;
    background-color: rgb(14, 202, 14);
    text-align: center;
    border: none;
    border-radius: 15px;
}
main .successful-save span {
    position: absolute;
    top:23%;
    left:15%;
}

main .successful-save span i {
    color: white;
}
main .successful-save p {
    width: 200px;
    font-weight: bold;
    color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
/* Footer ------------------------------*/

footer .line { 
    margin-top: 10px;
} 

footer .line span {
    width: 90%;
    height: 0px;
    margin: auto; /* make the line center */
    border: 1px solid black;
    background-color: #000000;
    display: block;
} 
footer .footer {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    width: 100%;
    height: 100px;
}

footer .footer .social-icon a{
    color: #000000;
    text-decoration: none;
    margin: 10px;
}

footer .footer .social-icon a i{
    font-size: 30px;
}
footer .footer .social-icon a:nth-child(1) i{
    color: #0F90F3;
}
footer .footer .social-icon a:nth-child(2) i{
    color: red;
}
footer .footer .social-icon a:nth-child(3) i{
    background: #d6249f;
    background: radial-gradient(circle at 20% 90%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
footer .footer .social-icon a:nth-child(4) i{
    color: #1DA1F2;
}

footer .footer .copyright{
    font-weight: bold;
}

footer .footer .contact p{
    margin: 10px;
}